<div class="post-card" data-tags="{{ post.data.tags | join(' ') }}">
  <img
    src="{{ post.data.image }}"
    alt="{{ post.data.imageAlt or post.data.title }}"
    class="post-image"
  />
  <div class="post-content">
    <h3 class="post-title">{{ post.data.title }}</h3>
    <div class="post-meta">
      <span>{{ post.date | readableDate }}</span>
    </div>
    {% if post.data.tags %}
    <div class="tags-container">
      {% for tag in post.data.tags %}
      <span class="tag-blog">{{ tag }}</span>
      {% endfor %}
    </div>
    {% endif %}
    <p class="post-excerpt">{{ post.data.excerpt | truncate(55) }}</p>
    <a href="{{ post.url }}" class="btn">Continue Reading...</a>
  </div>
</div>
